version: "3.9"

networks:
  rag_net:
    driver: bridge

services:
  qdrant:
    image: qdrant/qdrant:v1.9.1
    container_name: qdrant
    networks:
      - rag_net
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.12
    container_name: elasticsearch
    networks:
      - rag_net
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.12
    container_name: kibana
    networks:
      - rag_net
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch


  python-app:
    build:
      context: ../rag_api
      dockerfile: Dockerfile
    networks:
      - rag_net
    ports:
      - "8000:8000"
    environment:
      - ELASTIC_URL=http://elasticsearch:9200
      - QDRANT_URL=http://qdrant:6333
    depends_on:
      - elasticsearch
      - qdrant

volumes:
  qdrant_data:
  elastic_data:
